apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: my-example-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: git@github.com:priegeltje/argocd-app-config.git
    targetRevision: HEAD
    path: dev/overlays/dev
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: my-example-app
  syncPolicy:
    # automated:
    #   prune: true
    #   selfHeal: true
    syncOptions:
      - CreateNamespace=true